<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
  http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">

    <bean id="sqlSessionFactoryAuditLogger" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="auditlogDataSource" />
    </bean>

    <mybatis:scan base-package="com.acuity.va.auditlogger.dao" factory-ref="sqlSessionFactoryAuditLogger"/>
        
</beans>