.dialogue{
    position: absolute;
    width: auto;
    min-width: 25%;
    border: 1px solid #ecf0f1;
    background: #ecf0f1;
    z-index: 4;
    border-radius: 6px;
    padding: 6px;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.3);
}

.dialogue:before {
    content: ' ';
    height: 0;
    width: 0;
    left: -30px;
    position: absolute;
    border: 15px solid transparent;
    border-right-color: #ecf0f1;
    pointer-events: none;
}

.dialogue:after {
    content: ' ';
    height: 30px;
    width: 30px;
    position: absolute;
    border: 1px solid transparent;
    border-radius: 15px;
    top: -15px;
    right: -15px;
    background: #ecf0f1;
}

.close-dialogue {
    width: 20px;
    height: 20px;
    position: absolute;
    border: 1px solid transparent;
    border-radius: 10px;
    top: -10px;
    right: -10px;
    background: #34495e;
    z-index: 2;
}
.close-dialogue:hover {
    background: #ecf0f1;
}
.close-dialogue:hover > .close-cross{
    color: #34495e;
}
.close-cross {
    color: #ecf0f1;
    padding-left: 1px;
}

.number {
    font-weight: bold;
}

.description{
    font-size: 9pt;
    padding: 2px;
}

.btn-default {
    cursor: default;
}
