/*
 * Copyright 2021 The University of Manchester
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.axis-label
    padding 6px
    margin-top 5px
    margin-left 45px
    margin-right 45px
    min-width 310px
    text-align center
    & > span
        margin-left 3px
    &:hover
        margin-bottom -1px
        font-size 14px
        list-style none
        background-color #fff
        background-clip padding-box
        border 1px solid rgba(0, 0, 0, .15)
        border-radius 4px
        box-shadow 0 6px 12px rgba(0, 0, 0, .175)
        cursor default
        margin-bottom -2px

.axis-control
  height 100px
  position absolute
  top 159px
  left 67px
  z-index 10
  padding 6px
  border 1px solid #ccc
  background #ccc
  border-radius 5px
  width 310px
  overflow hidden

 .axis-control__high
  height 133px

.btn-warning
  cursor default

.ml10
  margin-left 10px
