<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
  http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">

    <bean id="sqlSessionFactoryModelAcuity" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="acuityDataSource"/>
        <property name="mapperLocations" value="classpath*:com/acuity/acuity/mappers/**/*.xml"/>
        <property name="configLocation" value="classpath:spring/detect/mybatis/sql-map-config-acuity.xml"/>
    </bean>

    <bean id="sqlSessionFactoryModelRawDataAcuity" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="acuityDataSource"/>
        <property name="mapperLocations" value="classpath*:com/acuity/acuity/mappers/**/*.xml"/>
        <property name="configLocation" value="classpath:spring/detect/mybatis/sql-map-config-rawdata-acuity.xml"/>
    </bean>

    <mybatis:scan base-package="com.acuity.visualisations.model"
                  annotation="com.acuity.visualisations.common.lookup.AcuityRepository"
                  factory-ref="sqlSessionFactoryModelAcuity"/>
    <mybatis:scan base-package="com.acuity.visualisations.rawdatamodel"
                  annotation="com.acuity.visualisations.common.lookup.AcuityRepository"
                  factory-ref="sqlSessionFactoryModelRawDataAcuity"/>

</beans>
