<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 The University of Manchester
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
  http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">

    <bean id="sqlSessionFactoryModelAcuity" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="acuityDataSource"/>
        <property name="mapperLocations" value="classpath*:com/acuity/acuity/mappers/**/*.xml"/>
        <property name="configLocation" value="classpath:spring/detect/mybatis/sql-map-config-acuity.xml"/>
    </bean>

    <bean id="sqlSessionFactoryModelRawDataAcuity" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="acuityDataSource"/>
        <property name="mapperLocations" value="classpath*:com/acuity/acuity/mappers/**/*.xml"/>
        <property name="configLocation" value="classpath:spring/detect/mybatis/sql-map-config-rawdata-acuity.xml"/>
    </bean>

    <mybatis:scan base-package="com.acuity.visualisations.model"
                  annotation="com.acuity.visualisations.common.lookup.AcuityRepository"
                  factory-ref="sqlSessionFactoryModelAcuity"/>
    <mybatis:scan base-package="com.acuity.visualisations.rawdatamodel"
                  annotation="com.acuity.visualisations.common.lookup.AcuityRepository"
                  factory-ref="sqlSessionFactoryModelRawDataAcuity"/>

</beans>
