li.setting-line {
    padding: 0 15px;
    cursor: default;
}

li.selected-option a {
    font-weight: bold;
}

a.option-title {
    padding: 6px 0 6px 20px;
    display: block;
    color: #3F4444;
    position: relative;
    font-size: 1.4rem;
    font-weight: normal;
}
.inactive {
    pointer-events: none;
    opacity: 0.5;
}

.not-allowed {
    cursor: not-allowed !important;
}

.range-control {
    margin: 10px 10px;
}

.range-input {
    line-height: 25px;
    padding-left: 10px;
    width: 100%;
}


