.no-border
    border 0

.no-top-border
    border-top 0

.dashboard-column-header
    vertical-align top
    text-align center
    border 1px solid #ddd
    background-color #F4F4F4

.dashboard-row-header
    font-weight bold
    border 1px solid #ddd
    background-color #F4F4F4

.dashboard-column-subheader
    text-align center
    font-weight bold
    border 1px solid #ddd
    background-color #F4F4F4

.dashboard-value
    text-align center
    border 1px solid #ddd

.padding-right-50
    padding-right 50px

.nodata
    text-align center
    vertical-align middle
    padding 6px
    font-size xx-large
