.form-control {
    padding: 6px;
}

.filter-spinner {
    position: relative;
    margin: 0 0 1rem;
    border: 1px solid #BBB;
    border-color: #BBB #ECECEC #ECECEC #BBB;
    padding: .2rem;
}

.filter-spinner::-webkit-outer-spin-button,
.filter-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
    width: 1em;
    border-left: 1px solid #BBB;
    opacity: .5; /* shows Spin Buttons per default (Chrome >= 39) */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.filter-spinner::-webkit-inner-spin-button:hover,
.filter-spinner::-webkit-inner-spin-button:active {
    box-shadow: 0 0 2px #0CF;
    opacity: .8;
}

.range-filter-input {
    width: 75px;
    margin-top: -25px;
    margin-right: -8px;
    margin-left: -8px;
    height: 20px;
    font-size: 12px;
}

.range-filter-margin {
    margin: 15px 15px 0 20px;
    cursor: default;
}