@import '~toastr/build/toastr.css'
@import '~driver.js/dist/driver.min.css'
@import './app/plugins/timeline/view/TimelineViewComponent.css'
@import './app/common/trellising/zoom/ZoomBarStyle.css'
@import './app/common/zoombar/ZoomBarStyle.css'
@import './app/tabs/tabs.css'
@import './vahub-charts/chart.css'

body
  background-color white
  --branding-color: #830051
  --header-datasets-color: yellow
  --header-text-color: white
  --bright-branding-color: #a02064
  --active-panel-color: #550035
  --widget-color: #550035
  --widget-bright-color: #830051
  --branding-color-transparent: rgba(131, 0, 81, 0.15)

.datepicker-dropdown
  z-index 1030 !important

ul.li-mt1em > li
  margin-top 1em

.row #intro9
  height 30px